#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-card {
  background-color: rgb(253, 253, 253);
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px black;
  color: black;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  margin: 80px 0 10px 0;
}

.image-background {
  background: linear-gradient(to bottom, #e4c481, #ffffff);

  width: 100%;
  border-radius: 20px 20px 0 0;
}

.name {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.city {
  font-size: 14px;
  margin-bottom: 5px;
  color: rgb(102, 102, 102);
}

.city,
.phone,
.email {
  font-size: 14px;
  color: rgb(102, 102, 102);
}

.phone,
.email {
  margin: 2px 0;
  font-size: 14px;
  font-weight: 300;
}

.icon-phone {
  width: 12px;
  height: 12px;
}

.icon-email {
  width: 20px;
  height: 20px;
}

.phone-wrapper,
.email-wrapper,
.city-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.add-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-contact-btn {
  margin-bottom: 30px;
  background-color: #ffe345;
  color: #202020;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 120px;
  font-size: 18px;
}

.add-contact-btn:hover {
  color: rgb(190, 190, 190);
  background-color: #202020;
}

@media only screen and (max-width: 1320px) {
  .contacts-wrapper {
    justify-content: center;
  }
}
